<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Table</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f7f7f7;
            color: #727272;
        }

        h1 {
            margin-bottom: 20px;
            color: #ffaf50;
            text-align: center;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .data-label {
            font-weight: bold;
        }

        .data-value {
            margin-left: 10px;
        }

        table {
        width: 100%; /* Ensure table fills available width */
        border-collapse: collapse; /* Collapse table borders */
        margin-top: 5px;
    }
    .page-break-avoid {
        page-break-inside: avoid; /* Prevent elements from being split across pages */
    }


        th,
        td {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        .highlight {
            background-color: #ccc;
           
        }

        .page-break {
            page-break-before: always;
        }
        span{
            font-weight: bold;
            margin-top: 40px;
        }
    </style>
</head>

<body>
    <h1>YANTRA CALENDAR</h1>
    <h3>Inputs</h3>
    <p>Specify an year and your chakra number to generate a personalized Yantra calendar for that particular year.</p>
    <div class="container">
        <div>
            <span class="data-label">Your Name:</span>
            <span class="data-value">
                <%= name %>
            </span>
        </div>
        <div>
            <span class="data-label">Year:</span>
            <span class="data-value">
                <%= year %>
            </span>
        </div>
        <div>
            <span class="data-label">Chakra:</span>
            <span class="data-value">
                <%= chakra %>
            </span>
        </div>
    </div>

    <h3>Yantra Table</h3>
    <p>This table displays a yantra calendar customized for the chosen Chakra.</p>
    <table>
        <tbody>
            <% for (let i=1; i <=13; i++) { %>
                <tr class="<%= i < 2 ? 'highlight' : '' %>">
                    <% for (let j=0; j <=4; j++) { %>
                        <% const key='input' + i + '_' + j; %>
                            <% if (inputmain[key] !==undefined) { %>
                                <td>
                                    <%= inputmain[key] %>
                                </td>
                                <% } else { %>
                                    <td></td>
                                    <% } %>
                                        <% } %>
                </tr>
                <% } %>
        </tbody>

    </table>
    <div class="page-break"></div>
    <h3>Breakdown</h3>
    <p>Monthly Breakdown of Yantra table for <%= year %>.</p>
    <% const monthNames=['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']; %>
    <% for (let i=0; i < 12; i++) { %>
        <div class="page-break-avoid">
            <br>
            <span>
                <% for (let h=0; h < 3; h++) { %>
                   <span><%= top[`top${i}_${h}`] || '' %></span>
                   <span>&nbsp;</span>
                <% } %>
            </span>
            <table>
                <% for (let j=0; j < 5; j++) { %>
                    <tr class="<%= j < 1 ? 'highlight' : '' %>">
                        <% for (let k=0; k <= 8; k++) { %>
                            <td><%= months[`month${i}_${j}`][k] || '' %></td>
                        <% } %>
                    </tr>
                <% } %>
            </table>
        </div>        
    <% } %>

</body>

</html>