<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Table</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f7f7f7;
            color: #727272;
        }

        h1 {
            margin-bottom: 20px;
            color: #ffaf50;
            text-align: center;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .data-label {
            font-weight: bold;
        }

        .data-value {
            margin-left: 10px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th,
        td {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <h1>Initial Data</h1>
    <p>These inputs are essential for generating personalized yearly cycles tailored to your numerological profile</p>
    <div class="container">
        <div>
            <span class="data-label">Your Name:</span>
            <span class="data-value"><%= yourname %></span>
        </div>
        <div>
            <span class="data-label">Your Date of Birth:</span>
            <span class="data-value"><%= yourdob %></span>
        </div>
        <div>
            <span class="data-label">0-27 Years:</span>
            <span class="data-value"><%= firstcat %></span>
        </div>
        <div>
            <span class="data-label">27-54 Years:</span>
            <span class="data-value"><%= secondcat %></span>
        </div>
        <div>
            <span class="data-label">54-81+ Years:</span>
            <span class="data-value"><%= thirdcat %></span>
        </div>
        <div style="display: flex; text-align: center; align-items: center;">
            <h4 class="data-label">Marga Number:</h4>
            <h3 class="data-value"><%= marganum %></h3>
        </div>
    </div>

    <h1>Table Data</h1>
    <p>The Dharma Table offers you a comprehensive view of your yearly cycles, combining your birth date and Dharma Maga number with other significant factors. It provides valuable insights into your spiritual journey, purpose, and potential life events throughout the year, aiding you in understanding and navigating your path ahead.</p>
    <table>
        <thead>
            <tr>
                <th>Year</th>
                <th>Chakra</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 1; i <= 100; i++) { %>
                <tr>
                    <td><%= year['year' + (i - 1)] %></td>
                    <td><%= marganumber['marga_' + i] %></td>
                    <td><%= birth['birth' + i] %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>

</html>
